:root {
    --background-color: rgb(219, 211, 211);
    --grid-color: rgba(177, 177, 177, 0.589);
    --background-options: rgb(148, 141, 141);
    --options-shadow: rgba(73, 70, 70, 0.726);
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    position: relative;
}

.buttons {
    height: 100%;
    width: 20vw;
    /* border: 2px solid rgb(43, 38, 38); */
    background: var(--background-options);
    border-radius: 2%;
    box-shadow: 0 10px 5px var(--options-shadow);
    position: absolute;
    left: 0;
    /* transform: translateX(-90%); */
    transition: all .3s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px
}

.buttons:hover {
    transform: translateX(0);
}

input[name=color-selection] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 160px;
    height: 160px;
    box-shadow: 3px 3px 6px white, -3px -3px 6px white;
    border: 0;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
}

input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 9px;
    background: var(--options-shadow);
    border-radius: 50px;
    box-shadow: 3px 3px 6px white, -3px -3px 6px white;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    margin-top: -3px;
    -webkit-appearance: none;
}

input[type=range]::-moz-range-track {
    height: 9px;
    background: var(--options-shadow);
    border-radius: 50px;
    box-shadow: 3px 3px 6px white, -3px -3px 6px white;
    cursor: pointer;
}
input[type=range]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    margin-top: -3px;
}
.button {
    width: 80%;
    height: 6%;
    background: var(--options-shadow);
    border-radius: 8px;
    border: 0;
    outline: 0;
    box-shadow: 3px 3px 6px white, -3px -3px 6px white;
    color: white;
    font-size: 20px;
    letter-spacing: 0.4rem;
}

.dimension-slider {
    width: 80%;
}

.container {
    margin: 20px;
    width: min(90vh, 70vw);
    height: min(90vh, 70vw);
    background: white;
    box-shadow: 3px 3px 10px var(--options-shadow), -3px -3px 10px var(--options-shadow);
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--grid-color);
    border-right: 1px solid var(--grid-color);
}


div[data-row] {
    flex: 1;
    display: flex;
}

div[data-col] {
    flex: 1;
    border-left: 1px solid var(--grid-color);
    border-top: 1px solid var(--grid-color);
}